# 環境変数（絶対にコミットしない）
backend/.env
frontend/.env.local

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# Ruby / Rails
backend/log/
backend/tmp/
backend/storage/
backend/.bundle/
backend/vendor/bundle/
backend/public/system/

# OS
.DS_Store
Thumbs.db
